@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#content img {
    max-width: 100px; /* Adjust this value as needed */
    width: 100%; /* This will make the image responsive */
    margin: 0 auto; /* This will center the image */   
}

nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

:root {
    --primary-color: #6C757D;
    --secondary-color: #CED4DA;
    --accent1-color: #495057;
    --accent2-color: white;
    --headline-color-on-white: #6C757D;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #CED4DA;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #495057;
    --nav-link-color: #396E94;
    --nav-background-color: #6C757D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}

body {
    background-color: var(--primary-color);
    font-family: 'Press Start 2P', sans-serif;
}

header {
    background-color: var(--secondary-color);
}

.hero-msg {
    text-align center;
}

#icon {
    width: 200px;
    height: 200px;
}